name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  release-desktop:
    name: Build Electron EXE
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: desktop-client/package-lock.json

      - name: Install dependencies
        working-directory: ./desktop-client
        run: npm install

      - name: Build and Distribute
        working-directory: ./desktop-client
        run: npm run dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-exe
          path: desktop-client/dist/*.exe

  publish:
    name: Create GitHub Release
    needs: [release-desktop]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code (to access APK)
        uses: actions/checkout@v4

      - name: Download Windows EXE
        uses: actions/download-artifact@v4
        with:
          name: windows-exe
          path: .

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.exe
            release-bin/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
